@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	padding-top: 70px;
	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 1.8 !important;
}

html {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	color: #222;
}

p {
	font-family: 'Playfair Display', serif;
	font-weight: 300;
}

section {
	padding-top: 68px;
	padding-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;

}

.cover {
	width: 100%;
}

.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

a,
a:link {
	color: #222;
}

a:hover,
a:focus {
	color: #222;
}


/* Navbar */

.navbar-fixed-top .nav {
	padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
	padding: 0 15px;
}

.navbar-brand img {
	max-height: 50px;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
	margin-left: 0px;
}

@media(min-width:768px) {
	body {
		padding-top: 100px;
		/* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	}

	.navbar-fixed-top .navbar-brand {
		padding: 15px 0;
	}
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #fff;
	color: #222;
}

.navbar-default .navbar-nav > li > a {
	color: #222;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #555;
}


/* Toggle Animation */

.navbar-toggle * {
	-ms-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.navbar-toggle {
	border: medium none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	height: 50px;
	padding: 16px;
	width: 50px;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fff;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #fff;
}

.navbar-toggle span {
	width: 25px;
	height: 3px;
	margin-bottom: 5px;
	background-color: #222;
	display: block;
}

.navbar-toggle span.bar1 {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transform-origin: 1px 3px;
	-webkit-transform-origin: 1px 3px;
	-moz-transform-origin: 1px 3px;
	-o-transform-origin: 1px 3px;
	transform-origin: 1px 3px;
	width: 31px;
}

.navbar-toggle span.bar2 {
	-ms-transform: rotate(-360deg) scale(0);
	-webkit-transform: rotate(-360deg) scale(0);
	-moz-transform: rotate(-360deg) scale(0);
	-o-transform: rotate(-360deg) scale(0);
	transform: rotate(-360deg) scale(0);
}

.navbar-toggle span.bar3 {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform-origin: 8px 2px;
	-webkit-transform-origin: 8px 2px;
	transform-origin: 8px 2px;
	width: 31px;
}

.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
	-ms-transform: none;
	-webkit-transform: none;
	transform: none;
	width: 30px;
}


/* Intro */

.intro {
	font-size: 22px;
	padding-top: 15px;
	padding-bottom: 25px;
}



/* About */

.big-letter p:first-child:first-letter {
	float: left;
	color: #222;
	font-size: 8em;
	line-height: 0.8em;
	text-transform: uppercase;
	padding-top: 0px;
	padding-right: 0.1em;
	padding-left: –0.03em;
}

/* Firefox Fix */

@-moz-document url-prefix() {
	.big-letter p:first-child:first-letter {
		padding-top: 0.08em;
	}
}



/* Work */

.work p {
	line-height: 1.7em;
}



.work h4 {
	padding-top: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}



/* Brand */

.logo-list img {
	width: 100%;
	height: auto;
	opacity: 0.8;
}

.logo-list li {
	padding-bottom: 1%;
}

.logo-list li a:hover,
.logo-list li a:focus {
	opacity: 0.6;
	transition: opacity 0.2s ease;
	display: block;
}

}


/* Footer */

footer {
	padding-bottom: 85px;
}

footer p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size: 0.7em;
	text-transform: uppercase;
}




.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: url(../images/arrow-up.png) no-repeat center 50%;
	background-size: cover;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}

.no-touch .cd-top:hover {
	background-color: transparent;
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}

h4 {
	font-size: 25px;
}

/*.btn-primary {
	background: #28bbf8;
	border-color: #28bbf8;
}*/

.thumbnail {
	background-color: transparent;
	border-bottom-style: solid;
	border-color: black;
	border-radius: 5px;
	border: 0px solid black;
	display: block;
	height: 400px;
	width: 390px;
	position: relative;
	transition: border 0.2s ease-in-out 0s;
	margin-top: 10px;
}


.hovereffect {
	background: white;
	border-radius: 5px;
	cursor: pointer;
	width: 300px;
	height: 400px;
	overflow: hidden;
	box-shadow: 0 7px 9px rgba(201, 201, 201, 1), 0 5px 5px rgba(201, 201, 201, 1);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.hovereffect:hover {
	box-shadow: 0 14px 18px rgba(201, 201, 201, 1), 0 10px 10px rgba(201, 201, 201, 1);
}

.logo {
	background-size: cover;
	width: 300px;
	height: 150px;
	border: 0px solid black;
	border-radius: 5px;
	margin: 0 0;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	margin-top: 10px;
}

h1 {
	font-weight: bolder;
}


/*Social media logos*/

a.btn-social,
.btn-social {
	border-radius: 50%;
	color: #ffffff !important;
	display: inline-block;
	height: 54px;
	line-height: 54px;
	margin: 8px 4px;
	text-align: center;
	text-decoration: none;
	transition: background-color .3s;
	webkit-transition: background-color .3s;
	width: 54px;
}

.btn-producthunt {
	border-radius: 50%;
	display: inline-block;
	height: 54px;
	line-height: 54px;
	margin: 8px 4px;
	text-align: center;
	text-decoration: none;
	transition: background-color .3s;
	webkit-transition: background-color .3s;
	width: 54px;

}

.btn-social .fa,
.btn-social i,
.btn-producthunt {
	backface-visibility: hidden;
	moz-backface-visibility: hidden;
	ms-transform: scale(1);
	o-transform: scale(1);
	transform: scale(1);
	transition: all .25s;
	webkit-backface-visibility: hidden;
	webkit-transform: scale(1);
	webkit-transition: all .25s;
}

.btn-social:hover,
.btn-social:focus,
.btn-producthunt:hover,
.btn-producthunt:focus {
	color: #fff;
	outline: none;
	text-decoration: none;
}



.btn-social.btn-xs,
.btn-producthunt.btn-xs {
	font-size: 9px;
	height: 24px;
	line-height: 13px;
	margin: 6px 2px;
	width: 24px;
}

.btn-social.btn-sm,
.btn-producthunt.btn-sm {
	font-size: 13px;
	height: 36px;
	line-height: 18px;
	margin: 6px 2px;
	width: 36px;
}

.btn-social.btn-lg,
.btn-producthunt.btn-lg {
	font-size: 22px;
	height: 72px;
	line-height: 40px;
	margin: 10px 6px;
	width: 72px;
}


.btn-github {
	background-color: #4183c4;
}

.btn-github:hover {
	background-color: #689cd0;
}

.btn-linkedin {
	background-color: #0976b4;
}

.btn-linkedin:hover {
	background-color: #0b96e5;
}



.btn-twitter {
	background-color: #55acee;
}

.btn-twitter:hover {
	background-color: #83c3f3;
}



.btn-email {
	background-color: #44c456;
}

.btn-email:hover {
	background-color: #6bd079;
}

.btn-producthunt:hover {
	background-color: #ef7053;
}

.btn-producthunt {
	background-color: #da552f;
}

.photo {
	height: 150px;
	width: 150px;
	border-radius: 50%;

}

.producthunt-logo {
	font-weight: 900;
	font-size: 25px;
}

.website {
	font-weight: bolder;

}

.company-logo {
	margin-top: 35px;
	margin-bottom: 10px;
}

.yourcompany-logo {
	margin-top: 55px;
}

.argosvr {
	margin-top: 30px;
	margin-bottom: 10px;
}

.stuffi {
	width: 90%;
}


.thecorner {
	width: 90px;
	height: 90px;
}

.frandroid {
	width: 90%;
	margin-top: 20px;
	margin-bottom: -10px;
}

p {
	text-align: justify;
}

#monday-logo {
	width: 90%;
	margin-top: 50px;
	margin-bottom: 40px;
}

.nav a {
	font-weight: bold;
}



.pelikant {
	width: 98px;
	height: 90px;
}

.see-more {
	position: fixed;
	margin-bottom: 20px;
	;
}

#work li {
	list-style-type: square;
}

.voeu,
.enib {
	width: 90%;
	margin-top: 15px;
}


*/ @font-face {
	font-family: 'themify';
	src: url("../fonts/themify/themify.eot?-fvbane");
	src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Lato', arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	color: #2e2e2e;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 16px;
		line-height: 1.5;
	}
}

#photo {
	border-radius: 100%;
	width: 150px;
	height: 150px;
}

::-webkit-selection {
	color: #ffffff;
	background: #28bbf8;
}

::-moz-selection {
	color: #ffffff;
	background: #28bbf8;
}

a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: #28bbf8;
	border-bottom: 2px solid transparent;
}

a:hover,
a:focus,
a:active {
	outline: none;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 2px solid #28bbf8;
}

.intro a:hover,
.intro a:focus,
.intro a:active {
	color: black;
}

.btn-social {
	text-decoration-line: none;
}

/* Heading */

h2,
h3,
.h4 {
	margin: 0 0 20px 0;
	padding: 0;
}

h2 {
	font-size: 26px;
	line-height: 38px;
}

h3 {
	font-size: 20px;
	line-height: 32px;
}

.h4 {
	font-size: 16px;
	line-height: 28px;
}

p {
	margin: 0 0 20px 0;
}


#fh5co-feature {
	padding: 5em 0;
}

@media screen and (max-width: 768px) {
	#fh5co-feature {
		padding: 3em 0 2em 0;
	}
}



@media screen and (max-width: 768px) {
	.fh5co-spacer-md {
		height: 30px;
	}
}

.btn {
	border-bottom: none !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 10px;
	text-decoration: none;
}

.btn:hover,
.btn:focus,
.btn:active,
img a {
	box-shadow: none;
	outline: none !important;
	border-color: transparent;
}

.btn-primary {
	background: #28bbf8;
}

.btn-primary {
	border-color: transparent;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background: #28bbf8;
	color: black;
}

.fh5co-feature-2 .fh5co-feature-item {
	margin-bottom: 30px;
}

.fh5co-feature-2 .fh5co-feature-title {
	letter-spacing: 2px;
}

.fh5co-feature-2 .fh5co-feature-icon {
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle {
	display: table;
	width: 100px;
	height: 100px;
	margin: 0 auto 2em auto;
	border: 2px solid #eaeaea;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.btn-social {
	text-decoration: none;
}



.publink a:hover {
	color: white;

}

#publications a:hover {
	color: #28bbf8;

}
